<a href="https://colab.research.google.com/github/libinkoshy/Data_Visualisation_Projects/blob/master/IBMCourseraAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn = sqlite3.connect('Assignment2.db')
cursor_obj = conn.cursor()

In [2]:
# Creating CENSUS_DATA table
table = """ create table IF NOT EXISTS CENSUS_DATA(COMMUNITY_AREA_NUMBER INTEGER, COMMUNITY_AREA_NAME VARCHAR(50), PERCENT_OF_HOUSING_CROWDED INTEGER, PERCENT_HOUSEHOLDS_BELOW_POVERTY INTEGER, PERCENT_AGED_16__UNEMPLOYED INTEGER, PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA INTEGER, PERCENT_AGED_UNDER_18_OR_OVER_64 INTEGER, PER_CAPITA_INCOME INTEGER, HARDSHIP_INDEX INTEGER);"""

cursor_obj.execute(table)

print("Table is Ready")

Table is Ready

In [3]:
import pandas
df = pandas.read_csv('/content/ChicagoCensusData.csv')
df.to_sql("CENSUS_DATA", conn, if_exists='replace', index=False,method="multi")

78

In [4]:
## Fetch few rows from the table
statement = '''SELECT * FROM CENSUS_DATA'''
cursor_obj.execute(statement)

print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
  print(row_many)

All the data
(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0)
(2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0)

In [5]:
# Creating CHICAGO_PUBLIC_SCHOOLS table
table = """ create table IF NOT EXISTS CHICAGO_PUBLIC_SCHOOLS(School_ID INTEGER, NAME_OF_SCHOOL VARCHAR(100),	Elementary_Middle_or_High_School VARCHAR(10), Street_Address VARCHAR(100), City VARCHAR(100), State VARCHAR(100), ZIP_Code VARCHAR(100), Phone_Number VARCHAR(100), Link VARCHAR(100), Network_Manager VARCHAR(100), Collaborative_Name VARCHAR(100), Adequate_Yearly_Progress_Made	VARCHAR(2), Track_Schedule VARCHAR(100), CPS_Performance_Policy_Status VARCHAR(100), CPS_Performance_Policy_Level VARCHAR(100), HEALTHY_SCHOOL_CERTIFIED VARCHAR(100), Safety_Icon VARCHAR(100), SAFETY_SCORE INTEGER, Family_Involvement_Icon VARCHAR(100), Family_Involvement_Score INTEGER, Environment_Icon VARCHAR(100), Environment_Score INTEGER, Instruction_Icon VARCHAR(100), Instruction_Score INTEGER, Leaders_Icon VARCHAR(100), Leaders_Score INTEGER, Teachers_Icon VARCHAR(100), Teachers_Score INTEGER,	Parent_Engagement_Icon VARCHAR(100), Parent_Engagement_Score INTEGER, Parent_Environment_Icon VARCHAR(100), Parent_Environment_Score INTEGER, AVERAGE_STUDENT_ATTENDANCE VARCHAR(100), Rate_of_Misconducts__per_100_students INTEGER, Average_Teacher_Attendance INTEGER, Individualized_Education_Program_Compliance_Rate INTEGER, Pk_2_Literacy INTEGER, Pk_2_Math INTEGER, Gr3_5_Grade_Level_Math INTEGER, Gr3_5_Grade_Level_Read INTEGER, Gr3_5_Keep_Pace_Read INTEGER, Gr3_5_Keep_Pace_Math INTEGER, Gr6_8_Grade_Level_Math INTEGER, Gr6_8_Grade_Level_Read INTEGER, Gr6_8_Keep_Pace_Math INTEGER, Gr6_8_Keep_Pace_Read INTEGER, Gr_8_Explore_Math INTEGER, Gr_8_Explore_Read INTEGER, ISAT_Exceeding_Math INTEGER, ISAT_Exceeding_Reading INTEGER, ISAT_Value_Add_Math INTEGER, ISAT_Value_Add_Read INTEGER, ISAT_Value_Add_Color_Math VARCHAR(10), ISAT_Value_Add_Color_Read VARCHAR(10), Students_Taking__Algebra INTEGER, Students_Passing__Algebra	INTEGER, Nineth_Grade_EXPLORE_2009 INTEGER, Nineth_Grade_EXPLORE_2010 INTEGER, Tenth_Grade_PLAN_2009 INTEGER, Tenth_Grade_PLAN_2010 INTEGER, Net_Change_EXPLORE_and_PLAN INTEGER, Eleventh_Grade_Average_ACT_2011 INTEGER, Net_Change_PLAN_and_ACT INTEGER, College_Eligibility INTEGER, Graduation_Rate INTEGER, College_Enrollment_Rate INTEGER, COLLEGE_ENROLLMENT INTEGER, General_Services_Route INTEGER, Freshman_on_Track_Rate INTEGER, X_COORDINATE INTEGER, Y_COORDINATE INTEGER, Latitude INTEGER, Longitude INTEGER, COMMUNITY_AREA_NUMBER INTEGER, COMMUNITY_AREA_NAME VARCHARD(100), Ward INTEGER, Police_District INTEGER, Location VARCHAR(100));"""

cursor_obj.execute(table)

print("Table is Ready")

Table is Ready

In [6]:
df2 = pandas.read_csv('/content/ChicagoPublicSchools.csv')
df2.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists='replace', index=False,method="multi")

566

In [7]:
## Fetch few rows from the table
statement = '''SELECT * FROM CHICAGO_PUBLIC_SCHOOLS'''
cursor_obj.execute(statement)

print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
  print(row_many)

All the data
(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')
(610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54.0, 'Strong', '66', 'Strong', 74.0, 'Very Strong', 84.0, 'Weak', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.60%', 15.7, '95.30%', '100.00%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', 16.8, 16.5, 0.7, 1.4, 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 1196129.985, 1856209.466, 41.76032435, -87.55673627, 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)')

In [8]:
# Creating CHICAGO_CRIME_DATA table
table = """ create table IF NOT EXISTS CHICAGO_CRIME_DATA(ID INTEGER, CASE_NUMBER VARCHAR(100), DATE_CRIME DATE, BLOCK VARCHAR(100), IUCR	INTEGER, PRIMARY_TYPE VARCHAR(100), DESCRIPTION VARCHAR(100), LOCATION_DESCRIPTION  VARCHAR(100), ARREST  VARCHAR(100), DOMESTIC  VARCHAR(100), BEAT INTEGER, DISTRICT 	INTEGER, WARD INTEGER, COMMUNITY_AREA_NUMBER	INTEGER, FBICODE INTEGER, X_COORDINATE 	INTEGER, Y_COORDINATE 	INTEGER, YEAR INTEGER, LATITUDE INTEGER, LONGITUDE INTEGER, LOCATION  VARCHAR(100));"""

cursor_obj.execute(table)

print("Table is Ready")

Table is Ready

In [9]:
df3 = pandas.read_csv('/content/ChicagoCrimeData.csv')
df3.to_sql("CHICAGO_CRIME_DATA", conn, if_exists='replace', index=False,method="multi")

533

In [10]:
## Fetch few rows from the table
statement = '''SELECT * FROM CHICAGO_CRIME_DATA'''
cursor_obj.execute(statement)

print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
  print(row_many)

All the data
(3512276, 'HK587712', '8/28/2004', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)')
(3406613, 'HK456306', '6/26/2004', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)')

In [11]:
## Problem 1: Find the total number of crimes recorded in the CRIME table.
statement = '''SELECT Count(*) FROM CHICAGO_CRIME_DATA'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

(533,)

In [12]:
## Problem 2: List community areas with per capita income less than 11000.
statement = '''SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME<11000'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('West Garfield Park',)
('South Lawndale',)
('Fuller Park',)
('Riverdale',)

In [13]:
## Problem 3: List all case numbers for crimes involving minors?

statement = '''SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE "%MINOR%"'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('HL266884',)
('HK238408',)

In [14]:
## Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

statement = '''SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE PRIMARY_TYPE LIKE "%KIDNAPPING%" AND DESCRIPTION LIKE "%CHILD%"'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('HN144152',)

In [15]:
## Problem 5: What kind of crimes were recorded at schools?

statement = '''SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE "%SCHOOL%"'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('BATTERY',)
('CRIMINAL DAMAGE',)
('NARCOTICS',)
('ASSAULT',)
('CRIMINAL TRESPASS',)
('PUBLIC PEACE VIOLATION',)

In [16]:
## Problem 6: List the average safety score for all types of schools.

statement = '''SELECT Elementary_Middle_or_High_School, AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY Elementary_Middle_or_High_School'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('ES', 49.52038369304557)
('HS', 49.62352941176471)
('MS', 48.0)

In [17]:
import sqlite3
conn = sqlite3.connect('Assignment2.db')
cursor = conn.cursor()
cursor.execute("Select * from CHICAGO_PUBLIC_SCHOOLS")
headers = [i[0] for i in cursor.description]
print(headers)

['School_ID', 'NAME_OF_SCHOOL', 'Elementary_Middle_or_High_School', 'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number', 'Link', 'Network_Manager', 'Collaborative_Name', 'Adequate_Yearly_Progress_Made_', 'Track_Schedule', 'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level', 'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE', 'Family_Involvement_Icon', 'Family_Involvement_Score', 'Environment_Icon', 'Environment_Score', 'Instruction_Icon', 'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon', 'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score', 'Parent_Environment_Icon', 'Parent_Environment_Score', 'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts__per_100_students_', 'Average_Teacher_Attendance', 'Individualized_Education_Program_Compliance_Rate', 'Pk_2_Literacy__', 'Pk_2_Math__', 'Gr3_5_Grade_Level_Math__', 'Gr3_5_Grade_Level_Read__', 'Gr3_5_Keep_Pace_Read__', 'Gr3_5_Keep_Pace_Math__', 'Gr6_8_Grade_Level_Math__', 'Gr6_8_Grade_Level_Read__', 'Gr6_8_Keep_Pace_Math_', 'Gr6_8_Keep_Pace_Read__', 'Gr_8_Explore_Math__', 'Gr_8_Explore_Read__', 'ISAT_Exceeding_Math__', 'ISAT_Exceeding_Reading__', 'ISAT_Value_Add_Math', 'ISAT_Value_Add_Read', 'ISAT_Value_Add_Color_Math', 'ISAT_Value_Add_Color_Read', 'Students_Taking__Algebra__', 'Students_Passing__Algebra__', '9th Grade EXPLORE (2009)', '9th Grade EXPLORE (2010)', '10th Grade PLAN (2009)', '10th Grade PLAN (2010)', 'Net_Change_EXPLORE_and_PLAN', '11th Grade Average ACT (2011)', 'Net_Change_PLAN_and_ACT', 'College_Eligibility__', 'Graduation_Rate__', 'College_Enrollment_Rate__', 'COLLEGE_ENROLLMENT', 'General_Services_Route', 'Freshman_on_Track_Rate__', 'X_COORDINATE', 'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME', 'Ward', 'Police_District', 'Location']

In [21]:
## Problem 7: List 5 community areas with highest % of households below poverty line.

statement = '''SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('Riverdale', 56.5)
('Fuller Park', 51.2)
('Englewood', 46.6)
('North Lawndale', 43.1)
('East Garfield Park', 42.4)

In [24]:
## Problem 8: Which community area(number) is most crime prone?

statement = '''SELECT COMMUNITY_AREA_NUMBER, COUNT(ID) FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(ID) DESC LIMIT 1'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

(25.0, 43)

In [25]:
## Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

statement = '''SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE HARDSHIP_INDEX=(SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA)'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('Riverdale',)

In [29]:
## Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

statement = '''SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA
              WHERE COMMUNITY_AREA_NUMBER =
              (SELECT COMMUNITY_AREA_NUMBER FROM
              (SELECT COMMUNITY_AREA_NUMBER, COUNT(ID) FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(ID) DESC) LIMIT 1)'''
cursor_obj.execute(statement)
output_many = cursor_obj.fetchall()
for row_many in output_many:
  print(row_many)

('Austin',)